<h1>Listing paintings</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Gallery</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<div class="container">  
<div class="row-fluid">
  <ul class="thumbnails">
	<% @paintings.each do |painting| %>
		<li class="span3">
			<%= link_to image_tag(painting.image_url(:thumb)), painting, {:style => 'height:180px;width:100px;', :class => "thumbnail"} %><br>	
		</li>
	<% end %>
  </ul>
</div>
</div>	
  



<br />

<%= link_to 'New Painting', new_painting_path %>
